body {
  padding-top: 135px;
}

img {
  max-width: 100%;
  height: auto;
}

nav.navbar.fixed-top {
  background-image: url(/image/hoc_fade.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  height: 135px;
}

.navbar {
  background-image: none;
}

.navbar-default {
  background-color: white;
}

/*

.lab .panel-heading, .lab .panel-footer {
  background-color: #f66;
}

.lab a:link {
  color: #900;
}

.con .panel-heading, .con .panel-footer {
  background-color: #66f;
}

.con a:link {
  color: #009;
}

.ld .panel-heading, .ld .panel-footer {
  background-color: #ff6;
}

.ld a:link {
  color: #990;
}

*/
